body {
    background-color: #ffc61a;
    font-family: comic sans ms;
}

img {
    width: 200px;
    height: 200px;
}

.jumbotron {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px !important;
    width: 80%;
    background-color:  #ffffe6;
    border: 0.5px solid black;
    box-shadow: 0 6px;
}